{% extends 'main/base.html' %}

{% block content %}

<div class="container">
{% if first_todo == 'None' %}
<h3>You haven't completed any todos yet</h3>
{% endif %}
</div>


<div class="row">
    {% for all in completed_todos %}
        <div class="col-3 mt-4">

             <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                 <div class="card-header"><h5>Todo Completed</h5></div>
                 <div class="card-body">
                   <p class="card-text">{{ all.todo }}</p>
                </div>
             </div>
        </div>
    {% endfor %}
</div>

{% endblock %}