{% extends 'main/base.html' %}

{% block content %}







    <div class="row">
        {% for all in all_todos %}
            <div class="col-9 mt-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ all.todo }}</p>
                    </div>
                </div>
            </div>
            <div class="col mt-4">
                <a class="card-link" href="{{ all.id }}/completed"><button type="submit" class="btn btn-success">Complete</button></a>
            </div>
            <div class="col mt-4">
                <a class="card-link" href="{{ all.id }}/update"><button type="submit" class="btn btn-primary">Update</button></a>
            </div>
            <div class="col mt-4">
                <form action="{{ all.id }}/delete/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-small btn-danger">Delete</button>
                </form>

            </div>
        {% endfor %}
    </div>

{% endblock %}


